body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth;
    height: 100%;
}

.portfolio-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.portfolio-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;

    box-sizing: border-box;
}

.portfolio-image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.portfolio-image {
    width: 100%;
    height: 100%;
    object-fit: contain; /* 이미지가 컨테이너에 맞추어지도록 설정 */
    border-radius: 0;
    box-shadow: none;
}

.top-left-button,
.top-right-button {
    position: absolute;
    top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: black;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s, color 0.3s;
}

/* Action button: 왼쪽에 10% 마진 */
.top-left-button {
    left: 6%;
}

/* Scroll down button: 오른쪽에 10% 마진 */
.top-right-button {
    right: 6%;
}

.top-right-button:hover,
.top-left-button:hover {
    background-color: black;
    color: white;
}
